certifi==2026.2.25
charset-normalizer==3.4.5
fastcrc==0.3.5
grpcio==1.78.0
idna==3.11
lxml==6.0.2
mavsdk==3.15.3
protobuf==7.34.0
pymavlink==2.4.49
pyserial==3.5
requests==2.32.5
typing_extensions==4.15.0
urllib3==2.6.3
