[Unit]
Description=Start KrakenSDR on startup
After=default.target

[Service]
Type=simple
ExecStart=/usr/bin/sudo /home/ngcp25/krakensdr_doa/kraken_doa_start.sh
WorkingDirectory=/home/ngcp25/krakensdr_doa/
Restart=on.failure

[Install]
WantedBy=default.target
